.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 210px;
    height: 60px;
    border: none;
    border-radius: 50px;
    background-color: #FFF;
    box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
}

.button__arrow {
    margin-left: 20px;
}

.button--nav {
    font-weight: 700;
    color: var(--darkGray);
    margin-left: auto;
}

.button--hero {
    background-color: var(--violet);
    color: #FFF;
}