.features {
    display: flex;
    justify-content: center;
    margin-top: 150px;
}

.features__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 52.1%;
}

.features__heading {
    margin: 0;
}

.features__paragraph {
    text-align: center;
    margin: 50px 0 0;
}

