.hero {
    padding: 130px 0 100px;
    background-image: url('../images/hero__background.svg');
    background-repeat: no-repeat;
    background-position: 85% 103%;
}

.hero__heading {
    font-size: 80px;
    line-height: 110%;
    width: 57.6%;
    margin: 0 0 50px;
}

.hero__paragraph {
    width: 33%;
    margin-bottom: 50px;
}