:root {
    --darkGray: #212353;
    --lightGray: #4B5D68;
    --violet: #9C69E2;

}

html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.body {
    font-family: 'Nunito Sans', sans-serif;
    color: var(--lightGray);
    font-weight: 400;
    font-size: 18px;
}

.container {
    max-width: 1120px;
    margin: 0 auto;
}

.text {
    line-height: 160%;
    margin: 0;
}

.heading {
    font-family: 'Helvetica', sans-serif;
    font-weight: 700;
    color: var(--darkGray);
}