:root {
    --darkGray: #212353;
    --lightGray: #4B5D68;

}

html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.body {
    font-family: 'Nunito Sans', sans-serif;
}

.container {
    max-width: 1120px;
    margin: 0 auto;
}